*.ipynb_checkpoints
*.DS_Store

data.zip
hw2.pdf
hw_images/
lagrange.png
lagrange_error.png
learning_curve.png
learning_curve_sklearn.png
plot_D1.png
plot_D2.png
tree_D1.png
tree_D2.png
tree_D2.txt
boundary/

dev_hw3.ipynb
dev_hw3_q3.ipynb
email_head.png
hw3.pdf
hw3.tex
implementation1_expected_result.png
knn.png
roc.png
hw3_sol.pdf

NN
Untitled.ipynb
archive
hw4.pdf
hw4.tex
anguageID.tgz
mnist_data
mnist_data_2
savepoint.pkl
hw4_old
images/
neural_networks_sketch.ipynb
